<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <setting id="zoom_apply_notification" type="bool" label="32033" default="true" />
    <setting id="maximum_compensation" type="slider" label="32031" default="10" range="0,50" option="int" />
    <setting id="random_compensation_subtraction" type="slider" label="32032" default="0" range="0,50" option="int" />
</settings>
